<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131465679285-6qjcrbosna0ofl234qa91f3btf5jk29r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131465679285-6qjcrbosna0ofl234qa91f3btf5jk29r</string>
	<key>API_KEY</key>
	<string>AIzaSyA75FKoGHH4P9WV0e9s1MXZbV94ktZfSRg</string>
	<key>GCM_SENDER_ID</key>
	<string>131465679285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kevin-villatoro.Firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-test-2d63a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-2d63a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131465679285:ios:10d5b7f6efb60832cb49fc</string>
</dict>
</plist>